$font-body: 'Montserrat', sans-serif; 
$accent: #ff9e67;
$primary: #4b96f3;
$back: #242f3e;
$green: #4db546;


#title{
    background-color:$accent;
    color:white;
    height:50px;
    text-align:center;
    vertical-align:center;
    font-family:$font-body;
}
.rowForm{
    color:$back;
}

#button{
    align-content:center;
}
/*
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: $accent !important;
    border-color: $accent !important;
}*/

#body{
    background-color:white;
    align-content:center;
}

aside {
    position: fixed;
    max-height: 100vh;
    padding: 30px;
    top: 0px;
    right: 0px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

aside nav {
    margin-bottom: 24px;
}
#app-body {
    overflow-y: auto;
}

#nav-login{
    font-family:$font-body;
    color:$accent;
    text-transform:uppercase;
    display:flex;
    justify-content:space-evenly;    
    flex-direction: column;   
}


  .btn-outline {
    color: $accent;
    background-color: transparent;
    border-color: $accent;
    font-weight: bold;
    border-radius: 0;
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: $accent;
    color: #ffffff;
    border-color: $accent;
    
  }
  
#top-buttons{
    list-style-type:none;
    display:flex;
    justify-content:space-evenly;
}

#top-buttons li {
    display:inline;
}

#form-container{
    background-color:white;
    //border-radius:10px;
    opacity:0.75;
    height: 400px;
}   

#form-title{
    width:100%;
    height:auto;
    vertical-align:center;
    font-size:25px;
    background-color:$accent;
    text-align:center;
    color:white;
    font-family:$font-body;
    //border-radius:10px 10px 0px 0px;
}
#form-body{
    padding:10px;
}

#button{
    text-align:center;
}
#userimg {
    text-align: center;
}

img {
    vertical-align: middle;
    border-style: none;
    padding-bottom:10px;
}
#loading{
    color:white; 
    font-family:Helvetica;
    font-size:20px;

}

#logo{
    left: 0px;
    top:0px;
    
}