$font-title: Helvetica, sans-serif; 
$accent: #ff9e67;
$primary: #4b96f3;
$back: #242f3e;
$green: #4db546;


#title{
    background-color:$accent;
    color:white;
    height:50px;
    text-align:center;
    vertical-align:center;
}
.rowForm{
    color:$back;
}

#button{
    align-content:center;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: $accent !important;
    border-color: $accent !important;
}
#body{
    background-color:white;
    align-content:center;
}

aside {
    position: fixed;
    max-height: 100%;
    height: 100%;
    padding: 48px;
    top: 0px;
    right: 0px;
    width: 380px;
}

aside nav {
    margin-bottom: 24px;
    background: #FFF;
}